div{
    width:300px;
    padding:50px;
    margin: 20px;
    border:20px;
    background-color: rgb(205, 237, 255);
    outline-style: solid;
    outline-width: thick;
    outline-color: blue;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0%;
    padding:0%;
    border: 1px solid;
background-color: #333;
overflow: hidden;
}
li{
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
}
li a:hover{
    background-color: #111;
}

